* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
  
  body {
    font-size: 14px;
    color: #000;
  }
  
  * {
    scrollbar-face-color: rgba(22, 39, 67, 0.3);
    /*面子*/
    scrollbar-arrow-color: #00adfe;
    /*箭头*/
    scrollbar-3dlight-color: #C0C0C0;
    /*最外左*/
    scrollbar-highlight-color: #FFFFFF;
    /*左二*/
    scrollbar-shadow-color: #FFFFFF;
    /*右二*/
    scrollbar-darkshadow-color: #C0C0C0;
    /*右一*/
    scrollbar-track-color: rgba(22, 39, 67, 0.3);
    /*滑道*/
  }
