* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// body {
//   font-size: 14px;
//   color: #000;
// }

* {
  scrollbar-face-color: rgba(22, 39, 67, 0.3);
  /*面子*/
  scrollbar-arrow-color: #00adfe;
  /*箭头*/
  scrollbar-3dlight-color: #c0c0c0;
  /*最外左*/
  scrollbar-highlight-color: #ffffff;
  /*左二*/
  scrollbar-shadow-color: #ffffff;
  /*右二*/
  scrollbar-darkshadow-color: #c0c0c0;
  /*右一*/
  scrollbar-track-color: rgba(22, 39, 67, 0.3);
  /*滑道*/
}
